<!doctype html>
<html ng-app='toDoList'>
<head>
    <title>Task Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="js/angular.js"></script>
    <script src="js/list.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css"  />
    <link rel="stylesheet" href="css/bootstrap-theme.css" />
    <link rel="stylesheet" href="css/list.css">
    <link rel="stylesheet" href="form/form.css">
    <link rel="icon" type="image/png" href="img/favicon.ico">
</head>
<body>
    <div class='wrapper b-main'>
        <div ng-controller="ListCtrl">
            <div class='table'>
                <h2> Tasks ({{remain()}} of {{items.length}}) </h2>
                <div class='item' 
                    ng-repeat="item in items | orderBy:customFilter">
                    <input 
                        class="checkbox-inline checkbox" 
                        type="checkbox" 
                        ng-model="item.done">
                    <span class="done-{{item.done}}">{{item.text}}</span>
                    <span class='priority {{item.priority}}'></span>
                    
                    <div class='itemConfig'>
                        <span 
                            ng-click="removeItem(item)" 
                            class='glyphicon glyphicon-remove'>
                        </span>
                        <span 
                            ng-click="changeItem(item)" 
                            class='glyphicon glyphicon-pencil'>
                        </span>
                    </div>

                    <p class='itemDate'
                        ng-model="item.date"
                        ng-class='checkDeadline(item)'
                        >
                        {{item.date}}
                    </p>
                </div>
                <div class='bottom_line'>
                    <input type="button" class='addButton' value="&#43;"
                        ng-click='formOpen=true'>
                </div>
            </div>
        
            <div ng-show="formOpen" class='formDiv'>
                <form name="myForm" 
                ng-submit="addItem()"
                novalidate>
                    <input class="form-control" type="text" 
                        required ng-model="itemText" 
                        size="30" placeholder="Add task">
                    <span 
                        ng-click="formOpen=false" 
                        class='glyphicon glyphicon-remove'>
                    </span>
                    <span ng-show="myForm.itemText.$error.required">
                        Please insert something
                    </span>
                    <input class="form-control"  
                        required 
                        ng-model="itemDate" 
                        size="30" type="date">
                    <select 
                        class='form-control' 
                        ng-model='priority'    
                        required>
                      <option value=""> Choose priority </option>
                      <option value="High"> High </option>
                      <option value="Regular"> Regular </option>
                      <option value="Low"> Low </option>
                    </select>
                    <span 
                        ng-show="myform.$invalid">
                        Please choose a date
                    </span>
                    <input 
                        class="btn btn-primary" 
                        ng-disabled='myForm.$invalid'
                        type="submit" value="Add"
                        ng-click="formOpen=false">
                </form>
            </div>
        
        </div>
    </div>
</body>
</html>